<h1>Lista de Eventos</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				Descrição
			</th>
			<th>
				Data
			</th>
			<th>
				Valor
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let evento of eventos">
			<td>
				{{evento.descricao}}
			</td>
			<td>
				{{evento.data | date: 'dd/MM/yyyy'}}
			</td>
			<td>
				{{evento.preco | currency: 'BRL'}}
			</td>
			<td>
				<a class="btn btn-info"
				   [routerLink]="['/eventos/ver/'+evento._id]">Ver</a>
				<a class="btn btn-warning"
				   [routerLink]="['/eventos/editar/'+evento._id]">Editar</a>
			</td>
		</tr>
	</tbody>
</table>
