<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		  content="IE=edge">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0">
	<title>Eventos :: Página Inicial</title>
</head>

<body>
	<header>
		<h1>Eventos</h1>
		<p>Seja bem vindo</p>

		<nav>
			<ul>
				<li>
					Cadastro de Evento
				</li>
				<li>
					Lista de Usuários
				</li>
				<li>
					Cadastro de Usuário
				</li>
				<li>
					<a href="/logout">Sair</a>
				</li>
			</ul>
		</nav>
	</header>
	<section id="container">
		<table>
			<tr>
				<th>
					Descrição
				</th>
				<th>
					Data
				</th>
				<th>
					Valor
				</th>
			</tr>
		</table>
	</section>
</body>

</html>
