<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		  content="IE=edge">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0">
	<title>Eventos :: Lista</title>
	<link rel="stylesheet"
		  href="/css/style.css" />
</head>

<body>
	<header id="header">
		<div class="container">
			<h1>Eventos - Lista</h1>
			<p>
				<%=usuarioSession.nome%>
			</p>

			<nav>
				<ul>
					<li>
						<a href="/inicio"
						   class="active">
							Lista de Eventos
						</a>
					</li>
					<li>
						<a href="/cadastroEvento">
							Cadastro de Evento
						</a>
					</li>
					<li>
						<a href="/usuarios">
							Lista de Usuários
						</a>
					</li>
					<li>
						<a href="/cadastroUsuario">
							Cadastro de Usuário
						</a>
					</li>
					<li>
						<a href="/logout">Sair</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<section id="container">
		<table>
			<tr>
				<th>
					Descrição
				</th>
				<th>
					Data
				</th>
				<th>
					Valor
				</th>
			</tr>
			<tr>
				<td>teste</td>
				<td>xx/xx/xxxx</td>
				<td>R$ xx,xx</td>
			</tr>
		</table>
	</section>
</body>

</html>
