<h1>{{titlePage}}</h1>

<form class="formulario">
	<div class="row">
		<div class="col-6">
			<label for="descricaoEvento">Descrição</label>
			<input type="text"
				   id="descricaoEvento"
				   name="descricaoEvento"
				   [(ngModel)]="evento.descricao"
				   required="required" />
		</div>
		<div class="col-3">
			<label for="dataEvento">Data</label>
			<input type="date"
				   id="dataEvento"
				   name="dataEvento"
				   [(ngModel)]="evento.data"
				   required="required" />
		</div>
		<div class="col-3">
			<label for="precoEvento">Preço</label>
			<input type="number"
				   id="precoEvento"
				   name="precoEvento"
				   [(ngModel)]="evento.preco"
				   required="required" />
		</div>
	</div>
	<div>
		<button class="btn btn-success"
				(click)="salvarEvento(evento)">{{btnSalvar}}</button>
		<button class="btn btn-secondary"
				(click)="cancelar()">Cancelar</button>
	</div>
</form>
