<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		  content="IE=edge">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0">
	<title>Eventos :: Login</title>
	<link rel="stylesheet"
		  href="/css/style.css" />
</head>

<body>
	<section id="login">
		<div class="container">
			<h1>Gerenciamento de Eventos</h1>
			<form action="/login"
				  method="post"
				  class="formulario">
				<div>
					<label for="nomeLogin">Nome</label>
					<input type="text"
						   class="iconBG"
						   id="nomeLogin"
						   required="required"
						   autocomplete="off"
						   name="usuario[nome]" />
				</div>
				<div>
					<label for="senhaLogin">Senha</label>
					<input type="password"
						   class="iconBG"
						   id="senhaLogin"
						   required="required"
						   autocomplete="new-password"
						   name="usuario[senha]" />
				</div>
				<div>
					<button type="submit">Login</button>
				</div>
			</form>
		</div>
	</section>
</body>

</html>
