@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	color: $primary-color;
}

h1 {
	font-size: 30px;
}

body {
	height: 100vh;
	min-width: 300px;
}

a.btn {
	margin: 0 5px;
}

.formulario {
	div {
		margin: 5px 0;

		label {
			width: 100%;
			display: block;
			color: #450745;
		}

		input {
			width: 100%;
			display: block;
			font-size: 16px;
			margin: 5px 0;
			padding: 0 10px;
			height: 35px;
			line-height: 35px;
			border: 1px solid purple;
			border-radius: 3px;
			background-color: white;
			background-repeat: no-repeat;
			background-position: 6px center;

			&.iconBG {
				padding-left: 30px;

			}

		}

		button {
			width: 70%;
			max-width: 200px;
			min-width: 100px;
			margin: 0 auto;
			display: block;
			cursor: pointer;
		}
	}
}
